<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uoc.iartal.trekkingchallenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Common activities -->
        <activity
            android:name=".common.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- User activities -->
        <activity
            android:name=".user.RegisterActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.AccessActivity" />
        </activity>
        <activity
            android:name=".user.AccessActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.MainActivity" />
        </activity>
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.AccessActivity" />
        </activity>
        <activity
            android:name=".user.UserAreaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.MainActivity" />
        </activity>
        <activity
            android:name=".user.ListUsersActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.ListGroupsActivity" />
        </activity>
        <activity
            android:name=".user.UserHistoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.UserAreaActivity" />
        </activity>

        <!-- Group activities -->
        <activity
            android:name=".group.AddGroupActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.ListGroupsActivity" />
        </activity>
        <activity
            android:name=".group.ShowGroupActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.ListGroupsActivity" />
        </activity>
        <activity
            android:name=".group.ListGroupsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.MainActivity" />
        </activity>
        <activity
            android:name=".group.EditGroupActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".group.ListGroupsActivity" />
        </activity>

        <!-- Trip activities -->
        <activity
            android:name=".trip.ListTripsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.MainActivity" />
        </activity>
        <activity
            android:name=".trip.AddTripActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".trip.ListTripsActivity" />
        </activity>
        <activity
            android:name=".trip.ShowTripActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".trip.ListTripsActivity" />
        </activity>
        <activity
            android:name=".trip.EditTripActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".trip.ListTripsActivity" />
        </activity>
        <activity
            android:name=".trip.FinishedTripActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".trip.ShowTripActivity" />
        </activity>
        <activity
            android:name=".trip.TripHistoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.UserHistoryActivity" />
        </activity>

        <!-- Challenge activities -->
        <activity
            android:name=".challenge.ListChallengesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.MainActivity" />
        </activity>
        <activity
            android:name=".challenge.AddChallengeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".challenge.ListChallengesActivity" />
        </activity>
        <activity
            android:name=".challenge.FinishedChallengeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".challenge.ShowChallengeActivity" />
        </activity>
        <activity
            android:name=".challenge.ShowChallengeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".challenge.ListChallengesActivity" />
        </activity>
        <activity
            android:name=".challenge.EditChallengeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".challenge.ListChallengesActivity" />
        </activity>
        <activity
            android:name=".challenge.ChallengeHistoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.UserHistoryActivity" />
        </activity>

        <!-- Route activities -->
        <activity
            android:name=".route.ListRoutesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.MainActivity" />
        </activity>
        <activity
            android:name=".route.ShowRouteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".route.ListRoutesActivity" />
        </activity>
        <activity
            android:name=".route.DetailRouteActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".route.ShowRouteActivity" />
        </activity>
        <activity
            android:name=".route.SearchRoutesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".route.ListRoutesActivity" />
        </activity>
        <activity
            android:name=".route.TrackRouteActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".route.ShowRouteActivity" />
        </activity>
        <activity
            android:name=".route.FinishedRouteActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".route.ShowRouteActivity" />
        </activity>
        <activity
            android:name=".route.RatingRouteActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".route.ShowRouteActivity" />
        </activity>
        <activity
            android:name=".route.RouteHistoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.UserHistoryActivity" />
        </activity>

        <!-- Message activites -->
        <activity
            android:name=".message.AddMessageActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".message.ListMessagesActivity" />
        </activity>
        <activity
            android:name=".message.ListMessagesActivity"
            android:screenOrientation="portrait"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Map activity -->
        <activity
            android:name=".map.MapActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.MainActivity" />
        </activity>
    </application>

</manifest>